{% extends 'shared/layout.njk' %}

{% block content %}

  {% if containercount %}
	<table class="table table-condensed">
	  <thead>
	  	<tr>
		  	<th>Name</th>
		  	<th>State</th>
		  	<th>Auto Start</th>
		  	<th>Groups</th>
		  	<th>ipv4</th>
		  	<th>ipv6</th>
		  	<th>Actions</th>
	  	</tr>
	  </thead>
	  <tbody>
	  {% for name, container in containers %}
		<tr>
		  	<td>{{ container.name }}</td>
		  	<td>		  	
			  	{% if container.state == "STOPPED" %}
			  		{{ container.state }}			    	
			    {% elif container.state == "FROZEN" %}
			    	<span class="text-primary">{{ container.state }}</span>
		    	{% elif container.state == "RUNNING" %}
					<span class="text-success">{{ container.state }}</span>
				{% endif %}
		  	</td>
		  	<td>{{ container.autostart }}</td>
		  	<td>{{ container.groups }}</td>
		  	<td>{{ container.ipv4 }}</td>
		  	<td>{{ container.ipv6 }}</td>
		  	<td>
			  	<!-- Single button -->
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Actions <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				  	{% if container.state == "STOPPED" %}
				    	<li><a href="/start/{{ container.name }}">Start</a></li>
				    {% elif container.state == "FROZEN" %}
				    	<li><a href="/unfreeze/{{ container.name }}">Unfreeze</a></li>
			    	{% elif container.state == "RUNNING" %}
						<li><a href="/attach/{{ container.name }}">Attach</a></li>
						<li><a href="/stop/{{ container.name }}">Stop</a></li>
					{% endif %}				
					{% if container.state != "FROZEN" and container.state != "STOPPED" %}
						<li><a href="/freeze/{{ container.name }}">Freeze</a></li>						
					{% endif %}				
					<li class="text-danger"><a href="/destroy/{{ container.name }}">Destroy</a></li>
				  </ul>
				</div>
		  	</td>
	  	</tr> 
		{% endfor %}
	  </tbody>  
	</table>
	{% else %}
	<h2>You have no LXC containers yet. <a href="/create">Click here</a> to create one.</h2>
	{% endif %}

{% endblock %}